<br><br>

<h1 class = "h1-centered">Pending Applications ...</h1>
<hr>
<div class = "container" ng-controller="applicationsCtrl as application" class="container">
    <div class="text-center">
        <h1>Applications</h1>
 
        <!-- items: use for whatever items you want to page-->
        <div class="text-left" ng-repeat="item in application.items">
        	<a href="/applications/{{item._id}}">	
				<h3>
					{{item.username}}
				</h3>
				<p>
					{{item.description}}
				</p>
				<hr>
			</a>
        </div>
         
        <!-- pager: keep it as it is -->
        <ul ng-if="application.pager.pages.length" class="pagination">
            <li ng-class="{disabled:application.pager.currentPage === 1}">
                <a ng-click="application.setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:application.pager.currentPage === 1}">
                <a ng-click="application.setPage(application.pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in application.pager.pages" ng-class="{active:application.pager.currentPage === page}">
                <a ng-click="application.setPage(page)">{{page}}</a>
            </li>               
            <li ng-class="{disabled:application.pager.currentPage === application.pager.totalPages}">
                <a ng-click="application.setPage(application.pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:application.pager.currentPage === application.pager.totalPages}">
                <a ng-click="application.setPage(application.pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>

<div class="alert alert-danger fade in alert-dismissable" ng-show = "errMsg">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>{{errMsg}}</strong>
</div>

<div class="alert alert-success fade in alert-dismissable" ng-show = "successMsg">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    {{successMsg}}
</div>