<br><br><br>
<div class="container-fluid text-center bg-grey" >
<h2><strong>Our Venues</strong></h2><br>
<div class="col-sm-4"  ng-hide="view.errMsg" ng-repeat="BusinessOwner in view.items">
<figure class="snip1336">
    <img src="{{BusinessOwner.images[0]}}" height="200" width="350" ng-show="BusinessOwner.images.length"/>
	<img src="http://www.planwallpaper.com/static/images/3d-balls-hd-wallpapers-free.jpg" ng-hide="BusinessOwner.images.length" height="200" width="350" />
    <figcaption>
     	<h2>{{BusinessOwner.name}}</h2>
        <p>{{BusinessOwner.description}}</p>
        <a href="/viewDetailed/{{BusinessOwner._id}}" class="follow">more Details</a>
        <a href="/viewDetailedActivities/{{BusinessOwner._id}}" class="info">View Activities</a>
    </figcaption>
</figure>
</div>
<div class="col-sm-12" >
<!-- pager: keep it as it is -->
<ul ng-if="view.pager.pages.length" class="pagination">
    <li ng-class="{disabled:view.pager.currentPage === 1}">
        <a ng-click="view.setPage(1)">First</a>
    </li>
    <li ng-class="{disabled:view.pager.currentPage === 1}">
        <a ng-click="view.setPage(view.pager.currentPage - 1)">Previous</a>
    </li>
    <li ng-repeat="page in view.pager.pages" ng-class="{active:view.pager.currentPage === page}">
        <a ng-click="view.setPage(page)">{{page}}</a>
    </li>
    <li ng-class="{disabled:view.pager.currentPage === view.pager.totalPages}">
        <a ng-click="view.setPage(view.pager.currentPage + 1)">Next</a>
    </li>
    <li ng-class="{disabled:view.pager.currentPage === view.pager.totalPages}">
        <a ng-click="view.setPage(view.pager.totalPages)">Last</a>
    </li>
</ul>
</div>
<div class="text-center alert alert-danger" ng-show="view.errMsg">
    <span class="glyphicon glyphicon-remove"></span><strong> {{view.errMsg}}</strong>
</div>
</div>