<br><br>
<div class="container-fluid text-center bg-grey" >

<h2><strong></strong></h2><br>

<div class="container">
<div class="col-md-12 col-sm-12 col-xs-12">
<h3>Frequently Asked Questions</h3>
<div class="panel-group wrap" id="bs-collapse">

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
<a data-toggle="collapse" data-parent="#bs-collapse" href="#one">

As a business Owner, how can I apply to your platform?
</a>
</h4>
    </div>
    <div id="one" class="panel-collapse collapse">
        <div class="panel-body">
        You either click on join us in the navigation bar or on the apply icon in the bottom of the website, to fill in the form of the application.
        </div>
    </div>

</div>
<!-- end of panel -->

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
<a data-toggle="collapse" data-parent="#bs-collapse" href="#two">
How to know whether my application has been accepted or rejected?
</a>
</h4>
    </div>
    <div id="two" class="panel-collapse collapse">
        <div class="panel-body">
        After submitting your application, our team will check your application thoroughly then they will send you an email to inform you about the results of the investigations.
        </div>

    </div>
</div>
<!-- end of panel -->

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
<a data-toggle="collapse" data-parent="#bs-collapse" href="#three">
As a user, how can I cancel my reservation?
</a>
</h4>
    </div>
    <div id="three" class="panel-collapse collapse">
        <div class="panel-body">
            Once you login, you have the rights to see all your reservations and you can cancel them if you want, as long as you haven't exceeded the cancelation window of that reservation.
        </div>
    </div>
</div>
<!-- end of panel -->

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
<a data-toggle="collapse" data-parent="#bs-collapse" href="#four">
As a user, How can I find the venues that support my prefered activity type?
</a>
</h4>
    </div>
    <div id="four" class="panel-collapse collapse in">
        <div class="panel-body">
        You will find the activities that our businesses offer in the home page, once you click on the activity you like, you would get all the businesses that support your preferences.
        </div>
    </div>
</div>
<!-- end of panel -->

</div>
<!-- end of #bs-collapse  -->

</div>



</div>
<!-- end of container -->

</div>
<style>
h3 {
color: #fff;
font-size: 24px;
text-align: center;
margin-top: 30px;
padding-bottom: 30px;
border-bottom: 1px solid #eee;
margin-bottom: 30px;
font-weight: 300;
}




.wrap {
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

a:focus,
a:hover,
a:active {
outline: 0;
text-decoration: none;
}

.panel {
border-width: 0 0 1px 0;
border-style: solid;
border-color: #fff;
background: none;
box-shadow: none;
}

.panel:last-child {
border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
border-radius: 4px 4px 0 0;
}

.panel-group .panel {
border-radius: 0;
}

.panel-group .panel + .panel {
margin-top: 0;
}

.panel-heading {
background-color: #0072AE;
border-radius: 0;
border: none;
color: #fff;
padding: 0;
}

.panel-title a {
display: block;
color: #fff;
padding: 15px;
position: relative;
font-size: 22px;
font-weight: 400;
}

.panel-body {
background: #fff;
}

.panel:last-child .panel-body {
border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
border-radius: 0 0 4px 4px;
transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
border-radius: 0;
transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
content: '\e146';
position: absolute;
font-family: 'Material Icons';
right: 5px;
top: 10px;
font-size: 24px;
transition: all 0.5s;
transform: scale(1);
}

.panel-heading.active a:before {
content: ' ';
transition: all 0.5s;
transform: scale(0);
}

#bs-collapse .panel-heading a:after {
content: ' ';
font-size: 24px;
position: absolute;
font-family: 'Material Icons';
right: 5px;
top: 10px;
transform: scale(0);
transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
content: '\e909';
transform: scale(1);
transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
content: '\e316';
font-size: 24px;
position: absolute;
font-family: 'Material Icons';
right: 5px;
top: 10px;
transform: rotate(180deg);
transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
transform: rotate(0deg);
transition: all 0.5s;
}
</style>