 <head>
  <style type="text/css">
    .custom {
        color: black;
    }
  </style>
</head>

<div class="container theme-showcase" role="main">

  <br><br><br>
  <div class="page-header custom">
    <h1> Add Offer </h1>
  </div>

  <form ng-submit="addOffer(offerData);">

   



    <div class="form-group custom">
      <label>Description</label>
      <textarea class="form-control" name="description" rows="5" placeholder="Descripe Your Offer Here !."
       ng-required="true" ng-model="offerData.offer"></textarea>
    </div>

    <div class="form-group custom"> 
      <label class="custom">Discount (in %):</label> <br>
      <input name="discount" type="number" min="5" step="5" ng-required="true" 
      ng-model="offerData.discount" placeholder="discount in percentage">
    </div>

    <div class="form-group custom"> 
      <label class="custom">Expiry Date:</label><br>
      <input name="exp_date" type="date" ng-required="true" ng-model="offerData.exp_date" 
      format ="YYYY-MM-DD">
    </div>
     
   
     
     <div class="form-group custom"> 
      <label class="custom">Upload an Image :</label><br>
      <input type="file" ng-disabled="uploading" file-model="file.upload" name="myfile" > 
    </div>
      
     

    
      
  

    <button type="submit" class="btn btn-primary"">Submit</button>

  </form>

   <br>

  <div class="jumbotron text-center" ng-show="loading">
    <span class="glyphicon glyphicon-repeat spinner">
      <p>Loading...</p>
    </span>
  </div>

  <br>

  <div class="row show-hide-message" ng-show="successMsg">
    <div class="alert alert-success">
      {{successMsg}}
    </div>
  </div>

  <div class="row show-hide-message" ng-show="errMsg">
    <div class="alert alert-danger">
      {{errMsg}}
    </div>
  </div>

</div>
