
<br> <br>
<h1 style="color: white; position: absolute;left:75px;">Sign Up</h1>

<br><br><br>
<div class="container" ng-controller="RegisterationPageCtrl as register">
    <div class="row">
        <form role="form" name="data" ng-submit="register.regUser(register.regData)">
            <div class="col-lg-7">
               <br>
                <div class="form-group">
                    <label style="color: white">Enter Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" placeholder="Enter Name" required ng-model="register.regData.username" ng-change="register.checkUsername() && data.username.$dirty">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label for="username" style="color: #ffffff" ng-show = "!register.isEmpty(data.username) && data.username.$dirty">{{usernameAvailable?"✔":"username not available!"}}</label>

                </div>
                <div class="form-group">
                    <label style="color: white">Enter Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control"  name="email" placeholder="Enter Email" required ng-model="register.regData.email" ng-change="register.checkEmail() && data.email.$dirty">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label for="email" style="color: #ffffff" ng-show = "!register.isEmpty(data.email) && data.email.$dirty">{{emailAvailable?"✔":"email not available!"}}</label>
                </div>
                <div class="form-group">
                    <label style="color: white">Enter Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" placeholder="Enter Password" required ng-model="register.regData.password" ng-change="register.checkPassword() && data.password.$dirty">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label for="password" style="color: #ffffff" ng-show = "!register.isEmpty(data.password) && data.password.$dirty">{{passwordAvailable?"✔":"password does not meet the requirements mentioned below !"}}</label>
                    <p style="color:white">password must contain at least 1 digit, 1 letter and 1 uppercase character (!@#$%^&*()_+)</p>
                </div>
                <div class="form-group">
                    <label style="color: white">Confirm Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Retype Password" required ng-model="register.regData.confirmPassword" ng-change="register.equalPasswords() && data.confirmPassword.$dirty">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label for="password" style="color: #ffffff" ng-show = "!register.isEmpty(data.confirmPassword) && data.confirmPassword.$dirty">{{matchPasswords?"✔":"passwords do not match !"}}</label>

                </div>
                <br>
                <br>
                <h2 style="color: white;position: absolute;left:10px;">Personal Information</h2>
                <br>
                <br> <br>

                <div class="form-group">
                    <label style="color: white">Enter First name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="FirstName" placeholder="Enter First Name" required ng-model="register.regData.firstName">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white">Enter last name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="LastName" placeholder="Enter Last Name" required ng-model="register.regData.lastName">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white">Enter Phone Number</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  name="phoneNumber" placeholder="Enter Phone Number" required ng-model="register.regData.phoneNumber" ng-change="isPhoneNumber() && register.data.phoneNumber">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label for="phoneNumber" style="color: #ffffff" ng-show = "!register.isEmpty(data.phoneNumber) && data.phoneNumber.$dirty">{{phoneNumbercheck?"✔":"invalid Phone Number !"}}</label>

                </div>
                <div class="form-grop">
                    <label style="color: white">Gender</label>
                    <div class="input=group">
                    <input type="radio" name="gender" value="male" checked ng-model="register.regData.gender"> <span style="color: white">Male</span><br>
                    <input type="radio" name="gender" value="female" style="color:white "ng-model="register.regData.gender"> <span style="color: white">Female</span><br>
                    <input type="radio" name="gender" value="other" style="color:white " ng-model="register.regData.gender"> <span style="color: white">Other</span><br><br>
                    </div>
                 </div>


                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
                <div class="alert alert-success" ng-show="register.successMsg">
                    <strong><span class="glyphicon glyphicon-ok"></span> Done! {{register.successMsg}}</strong>
                </div>
                <div class="alert alert-danger" ng-show="register.errors" ng-repeat="error in register.errors">
                    <span class="glyphicon glyphicon-remove"></span><strong>Error! {{error.msg}}</strong>
                </div>
                <div class="alert alert-danger" ng-show="register.errMsg">
                    <span class="glyphicon glyphicon-remove"></span><strong>Error! {{register.errMsg}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
