
<br> <br>
<h1 style="color: white; position: absolute;left:75px;">Sign Up</h1>

<br><br><br>
<div class="container">
    <div class="row">
        <form role="form" ng-submit="register.regUser(regData)">
            <div class="col-lg-6">
               <br>
                <div class="form-group">
                    <label style="color: white">Enter Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" placeholder="Enter Name" required ng-model="register.regData.username">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white">Enter Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control"  name="Email" placeholder="Enter Email" required ng-model="register.regData.email">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white">Enter Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" placeholder="Enter Password" required ng-model="register.regData.password">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white">Confirm Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="confirm-password" placeholder="Enter Password" required ng-model="register.regData.confirmPassword">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <br>
                <br>
                <h2 style="color: white;position: absolute;left:10px;">Personal Information</h2>
                <br>
                <br> <br>

                <div class="form-group">
                    <label style="color: white">Enter First name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="FirstName" placeholder="Enter First Name" required ng-model="register.regData.firstName">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white">Enter last name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="LastName" placeholder="Enter Last Name" required ng-model="register.regData.lastName">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white">Enter Phone Number</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  name="phoneNumber" placeholder="Enter Phone Number" required ng-model="register.regData.phoneNumber">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-grop">
                    <label style="color: white">Gender</label>
                    <div class="input=group">
                    <input type="radio" name="gender" value="male" checked ng-model="register.regData.gender"> <span style="color: white">Male</span><br>
                    <input type="radio" name="gender" value="female" style="color:white "ng-model="register.regData.gender"> <span style="color: white">Female</span><br>
                    <input type="radio" name="gender" value="other" style="color:white " ng-model="register.regData.gender"> <span style="color: white">Other</span><br><br>
                    </div>
                 </div>


                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
                <div class="alert alert-success" ng-show="register.successMsg">
                    <strong><span class="glyphicon glyphicon-ok"></span> Done! {{register.successMsg}}</strong>
                </div>
                <div class="alert alert-danger" ng-show="register.errors" ng-repeat="error in register.errors">
                    <span class="glyphicon glyphicon-remove"></span><strong>Error! {{error.msg}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>