<div class="container theme-showcase" role="main">

    <br><br><br>
    <div class="page-header" style="color: white">
    	<h1>Reservations</h1>
    </div>
    
    <div class="jumbotron text-center" ng-show="loading">
    	<span class="glyphicon glyphicon-repeat spinner">
    		<p>Loading...</p>
    	</span>
    </div>

    <br>

    <div class="panel panel-primary" ng-show="!errorMsg">

        <!-- Start: Table -->
        <table class="table">
            <tr style="color: grey">
                <th>Reservation Info</th>
                <th>Client Info</th>
            </tr>

            <tr ng-repeat="reservation in reservations | startFrom:(currentPage-1)*pageSize| limitTo:pageSize">
                <td >
                    <strong>Participants: </strong>{{ reservation.participants }} <br>
                    <strong>Price: </strong>{{ reservation.price }} <br>
                    <strong>Date: </strong>{{ reservation.date | limitTo : 10 : 0 }} <br>
                    <strong>Start Time: </strong>{{ reservation.reservedSlot.startTime }} <br>
                    <strong>End Time: </strong>{{ reservation.reservedSlot.endTime }} <br>
                </td>
                <td>
                   <strong>Name: </strong>{{ reservation.firstName+' '+reservation.lastName }} <br>
                   <strong>Email: </strong>{{ reservation.email }} <br>
                   <strong>Phone Number: </strong>{{ reservation.phoneNumber }} <br>
                </td>
            </tr>
            <!-- End: Table -->
        </table>
    </div>

    <ul uib-pagination total-items="reservations.length" ng-model="currentPage" items-per-page="pageSize" ng-show="!errorMsg"> </ul>

    <br>

    <div class="row show-hide-message" ng-show="errorMsg">
    	<div class="alert alert-danger">
    		{{errorMsg}}
    	</div>
    </div>

</div>



