<head>
  <style type="text/css">
    .custom {
        color: white;
    }
  </style>
</head>

<div class="container theme-showcase" role="main">

  <br><br><br>
  <div class="page-header custom">
    <h1> Add Activity </h1>
  </div>

  <form>

    <div class="form-group custom"> 
      <label>Upload an Image</label><br>
      <label class="btn btn-success">
          Browse
          <input type="file" ng-disabled="uploading" file-model="file.upload" name="myfile" style="display: none;">
      </label>
    </div>

    <div class="form-group custom">
      <label>Theme/Title</label>
      <input type="text" class="form-control" ng-model="activityData.theme">
    </div>

    <div class="form-group custom">
      <label>Cancellation Window</label>
      <input type="number" min="0" class="form-control" placeholder="This is the number of days allowed for participants to cancel their reservations." name="cancellationWindow" ng-model="activityData.cancellationWindow">
    </div>

    <div class="form-group custom">
      <label>Description</label>
      <textarea class="form-control" name="description" rows="5" placeholder="Write about the activity you are offering." ng-model="activityData.description"></textarea>
    </div>

    <label class="custom">Slots:</label> 
    <div class="form-group" data-ng-repeat="slot in slots">
      <label class="custom">Start Time</label>
      <span style="display:inline-block; width:5px;"></span>
      <input type="time" ng-model="slot.startTime">
      <span style="display:inline-block; width:5px;"></span>
      <label class="custom">End Time</label>      
      <span style="display:inline-block; width:5px;"></span>
      <input type="time" ng-model="slot.endTime">
      <span style="display:inline-block; width:5px;"></span>
      <button class="btn btn-success" ng-show="showSlotButton(slot)" ng-click="addNewSlot()">Add</button>
      <span style="display:inline-block; width:5px;"></span>
      <button class="btn btn-danger" ng-show="showSlotButton(slot)" ng-click="removeNewSlot()">Remove</button>  
    </div>

    <label class="custom">Price Packages:</label> 
    <div class="form-group" data-ng-repeat="pricePackage in pricePackages">
      <label class="custom">Particpants</label>
      <span style="display:inline-block; width:5px;"></span>
      <input type="number" min="1" ng-model="pricePackage.participants">
      <span style="display:inline-block; width:5px;"></span>
      <label class="custom">Price</label>      
      <span style="display:inline-block; width:5px;"></span>
      <input type="number" min="0" ng-model="pricePackage.price">
      <span style="display:inline-block; width:5px;"></span>
      <button class="btn btn-success" ng-show="showPricePackageButton(pricePackage)" 
      ng-click="addNewPricePackage()">Add</button>
      <span style="display:inline-block; width:5px;"></span>
      <button class="btn btn-danger" ng-show="showPricePackageButton(pricePackage)" 
      ng-click="removeNewPricePackage()">Remove</button>  
    </div>

    <div class="form-group">
      <label class="custom">Days Off:</label> <br>
      <input type="checkbox" ng-model="activityData.Sunday"><label class="custom">Sunday</label> <br>
      <input type="checkbox" ng-model="activityData.Monday"><label class="custom">Monday</label> <br>
      <input type="checkbox" ng-model="activityData.Tuesday"><label class="custom">Tuesday</label> <br>
      <input type="checkbox" ng-model="activityData.Wednesday"><label class="custom">Wednesday</label> <br>
      <input type="checkbox" ng-model="activityData.Thursday"><label class="custom">Thursday</label> <br>
      <input type="checkbox" ng-model="activityData.Friday"><label class="custom">Friday</label> <br>
      <input type="checkbox" ng-model="activityData.Saturday"><label class="custom">Saturday</label> <br>
    </div>
      
  

    <button type="submit" class="btn btn-primary" ng-click="addActivity()">Submit</button>

  </form>

   <br>

  <div class="jumbotron text-center" ng-show="loading">
    <span class="glyphicon glyphicon-repeat spinner">
      <p>Loading...</p>
    </span>
  </div>

  <br>

  <div class="row show-hide-message" ng-show="successMsg">
    <div class="alert alert-success">
      {{successMsg}}
    </div>
  </div>

  <div class="row show-hide-message" ng-show="errorMsg">
    <div class="alert alert-danger">
      {{errorMsg}}
    </div>
  </div>

</div>



