<br>
<br>
<br>
<h1 style="color: white; position: absolute;left:75px;">Update Information</h1>

<br>
<br>
<br>
<div class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
                <br>
                <div class="form-group">
                    <label style="color: white">Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control"  name="Email" placeholder="Email">
                        <span class="input-group-addon"><span class="glyphicon glyphicon"></span></span>
                    </div>
                </div>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Change Username</button>
                <div id="demo" class="collapse">
                    <br>
                    <label style="color: white">Enter Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-info" value="Update">
                    <br>
                    <br>
                </div>


                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#changePassword">Change Password</button>
                <div id="changePassword" class="collapse">
                    <br>
                    <label style="color: white">Enter Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <br>
                    <label style="color: white">Confirm Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="confirm-password" placeholder="Enter Password" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-info" value="Update">
                </div>

                <br>
                <br>
                <h3 style="color: white;position: absolute;left:10px;">Personal Information</h3>
                <br>
                <br> <br>

                <div class="form-group">
                    <label style="color: white">First name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="FirstName" placeholder="First Name" >
                        <span class="input-group-addon"><span class="glyphicon glyphicon"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white">last name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="LastName" placeholder="Last Name">
                        <span class="input-group-addon"><span class="glyphicon glyphicon"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white">Phone Number</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  name="phoneNumber" placeholder="Phone Number">
                        <span class="input-group-addon"><span class="glyphicon glyphicon"></span></span>
                    </div>
                </div>
                <div class="form-grop">
                    <label style="color: white">Gender</label>
                    <div class="input=group">
                        <input type="radio" name="gender" value="male" checked> <span style="color: white">Male</span><br>
                        <input type="radio" name="gender" value="female" style="color:white "> <span style="color: white">Female</span><br>
                        <input type="radio" name="gender" value="other" style="color:white "> <span style="color: white">Other</span><br><br>
                    </div>
                </div>


                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span> Success! Your Account Updated successfully</strong>
                </div>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> Error!</strong>
                </div>
            </div>
        </div>
    </div>
</div>
