<br>
<div class="form-group">
  <label for="rep"><h3>Edit Actvity:</h3></label>
  <input class="form-control" type="text" name="price" placeholder="{{price}}" ng-model="activity.activityData.price" ng-show="activity.activityExists"> <br>
  <textarea class="form-control" rows="10" id="rep" ng-model="activity.activityData.description" placeholder="{{description}}" ng-show="activity.activityExists"></textarea>
</div>


<button type="button" ng-click="activity.editActivity(activityData);" class="btn btn-primary" ng-show="activity.activityExists">Edit activity</button>

<br><br>

<div class="jumbotron text-center" ng-show="activity.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<h2>Loading...</h2>
</div>

<div class="row show-hide-message" ng-show="activity.errMsg">
	<div class="alert alert-danger"> {{activity.errMsg}} </div>
</div>

<div class="row show-hide-message" ng-show="activity.successMsg">
	<div class="alert alert-success"> {{activity.successMsg}} </div>
</div>