<head>
  <style type="text/css">
    .custom {
        color: white;
    }
  </style>

  <script>
    webshims.setOptions('waitReady', false);
    webshims.setOptions('forms-ext', {types: 'date'});
    webshims.polyfill('forms forms-ext');
  </script>

</head>
<br>
<div class="page-header custom">
  <h1> Edit Activity </h1>
</div>

<div ng-show="activity.activityExists">

  <div class="panel panel-default">
    <div class="panel-heading">
        <strong>Activity's Image</strong>
    </div>

    <div class="panel-body">

      <img src="{{activity.activityData.image}}"  class="preview" width="600px" height="400px">

      <br> <br>

      <form ng-submit="Submit(activity.activityData.activity_id);">
          <label class="btn btn-success">
              Browse
              <input type="file" ng-disabled="uploading" file-model="file.upload" name="myfile" style="display: none;">
          </label>
          <button ng-disabled="uploading" type="submit" class="btn btn-primary">Upload</button>
      </form>

      <br>

      <div ng-show="uploading" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">45% Complete</span>
        </div>
      </div>

      <div ng-class="alert" ng-show="message">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong>{{message}}</strong>
      </div>

    </div>
  </div>

  <form ng-submit="activity.editActivity(activityData);">
    <div class="row">
      <div class="form-group col-xs-6 custom">
        <div class="form-group custom">
          <div class="input-group">
            <span class="input-group-addon"><strong>Destination</strong></span>
            <input type="text" class="form-control" name="destination"  ng-model="activity.activityData.destination">
          </div>  
        </div>
      </div>

      <div class="form-group col-xs-6 custom">
        <div class="form-group custom">
          <div class="input-group">
            <span class="input-group-addon"><strong>Transportation</strong></span>
            <select class="form-control" name="transportation" ng-model="activity.activityData.transportation">
              <option>Airplane</option>
              <option>Bus</option>
              <option>Car</option>
              <option>Train</option>
            </select>
          </div>  
        </div>

      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6 custom">
        <div class="form-group custom">
          <div class="input-group">
            <span class="input-group-addon"><strong>Traveling Date</strong></span>
            <input class="form-control" type="date" name="travelingDate" ng-model="activity.activityData.travelingDate">
          </div>
        </div>
      </div>

      <div class="form-group col-xs-6 custom">
        <div class="form-group custom">
          <div class="input-group">
            <span class="input-group-addon"><strong>Return Date</strong></span>
            <input class="form-control" type="date" name="returnDate" ng-model="activity.activityData.returnDate">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-4 custom">
        <div class="form-group custom">
          <div class="input-group">
            <span class="input-group-addon"><strong>Max Participants</strong></span>
            <input type="Number" min="1"  class="form-control" name="maxParticipants" ng-model="activity.activityData.maxParticipants">
          </div>
        </div>
      </div>
        
      <div class="form-group col-xs-4 custom">  
        <div class="form-group custom">
          <div class="input-group">
            <span class="input-group-addon"><strong>Price Per Person(&#163;)</strong></span>
            <input type="Number" min="1" class="form-control" name="pricePerPerson" ng-model="activity.activityData.pricePerPerson">
          </div>  
        </div>
      </div>  

      <div class="form-group col-xs-4 custom">  
        <div class="form-group custom">
          <div class="input-group">
            <span class="input-group-addon"><strong>Cancellation Window</strong></span>
            <input type="Number" min="0" class="form-control" name="cancellationWindow" ng-model="activity.activityData.cancellationWindow">
          </div>  
        </div>
      </div>  
    </div>

    <div class="form-group custom">
      <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Accommodation</strong>
        </div>
        <textarea class="form-control" name="Accommodation" rows="5" ng-model="activity.activityData.Accommodation"></textarea>
      </div>
    </div>  



    <div class="form-group custom">
      <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Description</strong>
        </div>
        <textarea class="form-control" name="description" rows="5" ng-model="activity.activityData.description"></textarea>
      </div>  
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>

  </form>

  <br>

  </div>
  <div class="jumbotron text-center" ng-show="activity.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <h2>Loading...</h2>
  </div>

  <div class="alert alert-success fade in alert-dismissable" ng-show="activity.successMsg">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>{{activity.successMsg}}</strong>
  </div>

  <div class="alert alert-danger fade in alert-dismissable" ng-show="activity.errMsg">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>{{activity.errMsg}}</strong>
  </div>

</div>

