<br>
<br>
<br>

<div class="container">
    <form name="rateForm">

        <div class="col-xs-4" style="background-color: dimgrey">
            <h2><b>Select rating **</b></h2>
            <select class="form-control input-lg" id="rate" name="rate" style="font-size: x-large" ng-model="rating.rating.rate" required>
    <option value="1">1 star</option>
    <option value="2">2 stars</option>
    <option value="3">3 stars</option>
    <option value="4">4 stars</option>
    <option value="5">5 stars</option>
      </select>
            <br>
            <button type="submit" class="btn btn-default" ng-click="rating.rateBusiness(rating.rating)" ng-disabled="rateForm.$invalid">Submit Rate</button>
            <h5 style="color:azure"> **Your previous rating will be updated. </h5>

        </div>

    </form>
</div>

<div class="container">
    <br>

    <div class="row show-hide-message" ng-show="rating.errMsg">
        <div class="alert alert-danger"> {{rating.errMsg}} </div>
    </div>

    <div class="row show-hide-message" ng-show="rating.successMsg">
        <div class="alert alert-success"> {{rating.successMsg}} </div>
    </div>

</div>